.profile{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
footer .profile{
    width: 5rem;
    height: 5rem;    
}
.CommuIcon{
    width: 2rem;
    height: 2rem;
}
.Past{
    width: 10rem;
    height: 10rem;
    border: 2px solid gray;
    border-radius: 15%;
    transition: 0.3s ease;
}
.Past:hover{
    transform: scale(1.05);
    transition: 0.3s ease;
}